// Colors
$primaryDark: #000000;
$primary: #333;
$primaryLight: #fff;

$secondary: #0089cc;
$secondaryLight: #55a831;
$secondaryDark: #999;

$tertiary: #666666;
$tertiaryLight: #d1d1d1;

// Media screen
$md1: 1200px;
$md2: 991px;
$md3: 768px;
$md4: 480px;
$minwidth: 320px;

// Font
