// Colors
$primaryDark: #000000;
$primary: #333;
$primaryLight: #fff;
$primaryLight-2: #d1d1d1;
$primaryLight-3: #666666;

$secondary: #0089cc;
$secondary-2: #0d8fe3;
$secondary-3: #249ae6;
$secondaryLight: #55a831;
$secondaryDark: #999;
$secondaryBg: #f7f7f7;

$tertiary: #ffb903;

$checkbox-color: #e8e8e8;

$tertiaryTextColor: #464646;






// Media screen
$md1: 1200px;
$md2: 991px;
$md3: 768px;
$md4: 480px;
$minwidth: 359px;

// Font
