@import "vars";
@import "libs";
@import "fonts";
@import "blocks/_header.scss";
@import "blocks/_intro.scss";
@import "blocks/_form.scss";
@import "blocks/_section.scss";
@import "blocks/_materials.scss";
@import "blocks/_tabs.scss";
@import "blocks/_works.scss";
@import "blocks/_payment.scss";
@import "blocks/_guarantee.scss";
@import "blocks/_stock.scss";
@import "blocks/_timer.scss";
@import "blocks/_map.scss";
@import "blocks/_questions.scss";
@import "blocks/_footer.scss";

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: $primaryDark;
    font-size: 18px;
    min-width: 320px;
    overflow-x: hidden;
}

*,
*:before,
*:after  {
    box-sizing: border-box;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}


ul, ol {
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: none
}

.button {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    box-shadow: 0 2px 20px rgba(255, 153, 0, 0.4);
    border-radius: 10px;
    border: 1px solid #ffc600;
    background-color: #e8e8e8;
    background-image: linear-gradient(to bottom, #ffed26 0%, #ffb400 100%);
}

.container {
    width: 100%;
    padding: 0px 15px;
    max-width: 1200px;
    margin: 0 auto;
}

@media(max-width: $md3) {
    .button {
        font-size: 18px;
    }
}

