.section {
	padding: 80px 0px;
	&-bg {
		background-color: $secondaryBg;
	}
	&__item {
		text-align: center;
	}
	&__item-title {
		color: $primary;
		font-size: 30px;
		font-weight: 700;
		text-transform: uppercase;
	}
	&__item-img {
		margin-top: 25px;
		margin-bottom: 80px;
	}
}

@media(max-width: $md3) {
	.section {
		padding: 60px 0px;
		&__item-title {
			font-size: 26px;
		}
		&__item-img {
			margin-top: 20px;
			margin-bottom: 60px;
		}
	}
}