.tabs {
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		text-align: center;
	}
	&__header-text {
		cursor: pointer;
		padding-top: 20px;
		position: relative;
		font-family: "Open Sans - Semibold";
		font-size: 20px;
		line-height: 28px;
		text-transform: uppercase;
		border-bottom: 1px dotted $primaryDark;
		&.active {
			color: $secondary-2;
			border-top: 10px solid $secondary-2;
			border-bottom: none;
			&:before {
				content: '';
				position: absolute;
				top: 0%;
				left: 50%;
				content: '';
				border: 10px solid transparent;
				border-top: 10px solid $secondary-2;
				transform: translateX(-50%);
			}
		}
	}
	&__body-content {
		display: none;
		margin-top: 65px;
		justify-content: space-between;
		flex-wrap: wrap;
		&.active {
			display: flex;
		}
	}
	&__content-img {
		flex-basis: 25%;
		max-width: 300px;
		img {
			display: block;
			width: 100%;
		}
	}
	&__body-product {
		display: flex;
		text-align: center;
		flex-wrap: wrap;
		flex-basis: 39%;
	}
	&__product {
		flex-basis: 33.33333%;
	}
	&__product-img {
		display: block;
		width: 100%;
		max-width: 70px;
		margin: 0 auto 20px;
	}
	&__product-title {
		max-width: 90px;
		margin: 0 auto 18px;
		font-family: "Open Sans - Semibold";
		font-size: 14px;
		line-height: 20px;
	}
	&__product-price {
		color: $secondary-2;
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;
	}
	&__product-description {
		display: block;
		font-size: 12px;
		line-height: 16px;
	}
}

@media(max-width: $md1) {
	.tabs {
		&__header-text {
			font-size: 18px;
		}
		&__body-content {
			justify-content: center;
		}
		&__wrapper {
			flex-basis: 50%;
		}
	}
}

@media(max-width: $md2) {
	.tabs {
		&__header {
			justify-content: center;
		}
		&__header-text {
			margin: 0px 15px 15px;
			padding-top: 15px;
		}
	}
}

@media(max-width: $md3) {
	.tabs {
		&__body-content {
			justify-content: center;
			margin-top: 40px;
		}
		&__wrapper {
			flex-basis: 100%;
			margin-bottom: 20px;
		}
		&__body-product {
			justify-content: center;
		}
	}
}

@media(max-width: $md4) {
	.tabs {
		&__product {
			flex-basis: 50%;
		}
	}
}


